.App {
  text-align: center;
}


.app-image{
  margin: 10px;

}

.app-title{
  color: #45433D;
}

.app-title strong.user{
  color: #0078FF;
}

.app-form{
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 70%;
  margin: 10px;
}

.app-formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app-input{
  flex: 1;
}

.app-iconButton{
  flex: 0;
}

.App-image{
  width: 80%;
}